{% extends 'base.html' %}

{% load static %}
{% block content %}


<!-- ******CONTENT****** --> 
<div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Department of Computer Science and Engineering</h1>
                   
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/department/UG/CS/home">Home</a></li>
                                    <li><a href="/department/UG/CS/profile">Vision and Mission</a></li>
                                    <li class="active"><a href="/department/UG/CS/infrastructure">Infrastructure</a></li>
                                    <li><a href="/department/UG/CS/faculty">Faculty Profile</a></li>
                                    <li><a href="/department/UG/CS/activities">Activities</a></li>
                                    <li><a href="/department/UG/CS/achievements">Achievements</a></li>
                                    <li><a href="/department/UG/CS/gallery">Photo Gallery</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="content-wrapper col-md-10 col-sm-8">                               

                            <div class="content-wrapper col-md-12 col-sm-11">      
                                <div class="page-row">
                                    <h1 class="no-margin-top has-divider text-highlight">Laboratory facilities</h1>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--<h3 class="has-divider text-highlight">Basic Table</h3>-->   
                                            <div class="table-responsive">                    
                                                <table class="table table-boxed">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No.</th>
                                                            <th>Name of Lab</th>
                                                            <th>Qty</th>
                                                            <th>Configuration/Specification</th>
                                                            <th>Software</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for lab_facility in lab_facilities_data %}
                                                            <tr>
                                                                <td><b>{{lab_facility.sno}}</b></td>
                                                                <td>{{lab_facility.name}}</td>
                                                                <td>{{lab_facility.qty}}</td>
                                                                <td style = "white-space: pre-wrap;">{{lab_facility.config_specs}}</td>
                                                                <td style = "white-space: pre-wrap;">{{lab_facility.softwares}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table><!--//table-->
                                            </div><!--//table-responsive-->
                                        </div>
                                    </div>
                                </div>
                            <br>

                            <div class="row page-row">
                                    <article class="welcome col-md-12 col-sm-10">                         
                                        <h1 class="no-margin-top has-divider text-highlight">Major Equipments</h1>
                                        <ul class="custom-list-style medical">
                                            
                                            {% for equipment in major_equipments_data %}
                                                <li><i class="fa fa-star"></i>{{equipment.equipment_description}}</li>
                                                <br>            
                                            {% endfor %}
                                            
                                        </ul>
                                        
                                    </article><!--//page-content-->    
                                </div>

                            <div class="row page-row">
                                        <article class="welcome col-md-10 col-sm-8">                         
                                            <h1 class="no-margin-top has-divider text-highlight">Department Library</h1>
                                            <p>The library at department level is for the Students and Faculty of Computer Science & Engg. which houses good number of textbooks, reference books, and project & seminar reports. At present over 3564 books with <b>250 titles, project reports, seminar reports & CD'S</b> are available in the Department library. The National and International conference proceedings, workshop and seminar reports, product & textbook catalogues are kept for student's reference. Apart from the departmental library facility we have Central Library and Information Center. At Central Library, along with the standard books we have the facility of accessing various International & National Journals.</p>
                                   
                                        </article><!--//page-content-->
                                        
                                </div>  

                        </div><!--//content-wrapper-->                    
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

    {% endblock %}